.shapka{
    background-color: #CA1D20;
}
button{
    background: #CA1D20;
    border: none;
    width: 135px;
    height: 34px;
    border-radius: 5px;
    color: white;
    font-family: Nunito,sans;
    font-size: medium;
}